fastapi==0.99.1
gradio==3.50.2
loguru==0.7.2
pydantic==1.10.12
SQLAlchemy==1.4.50
uvicorn==0.20.0
pymysql==1.0.2
torch==2.1.0
transformers==4.31.0
sentencepiece==0.1.99
protobuf==4.25.0
lxml==4.9.3
wget==3.2
